<div class="card">
    <a href="{{ post.url }}">
      <div class="articleCards">
        <h2> {{ post.data.title }} </h2>
        <h5> {{ post.data.author }} - {{ post.data.date | postDate }} </h5>
      </div>
      <p>{{ post.data.description }}</p>
    </a>
  </div>