<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="{{path}}../style/{{ stylesheet }}.css">
    <link rel="stylesheet" href="{{path}}../style/footer.css">
    <link rel="stylesheet" href="{{path}}../style/Navbar.css">
    <link rel="stylesheet" href="{{path}}../style/pageContents.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body>

    {% include "navbar.njk" %}
    <main>
        {{ content | safe }}
    </main>
    {% include "footer.njk" %}

    <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", (user) => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
</body>

</html>