<footer>
    <div class="footer">
        <div class="footer_leftcolumn">
            <h2>test this is a footer in leftcolumn</h2>
        </div>
        <div class="footer_middlecolumn">
            <h2>test this is a footer in middlecolumn</h2>
        </div>
        <div class="footer_rightcolumn">
            <h2>test this is a footer in rightcolumn</h2>
        </div>
    </div>
</footer>