<div class="Navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog/">blog</a></li>
        <li><a href="/About/">About</a></li>
        <li>
            <div class="dropdown">
                <a>More</a>
                <div class="dropdown-content">
                    <a>Test</a>
                    <a>Test</a>
                    <a>Test</a>
                </div>
            </div>
        </li>
        <li><a>test</a></li>
    </ul>
</div>