.Page_Title
{
    text-align: center;
    background-color: #333;
    margin-bottom: 100px;
    padding: 10px;
    color: white;
}

.Main_Text
{
    position: absolute;
    left: 13%;
    height: 100%;
    width: 75%;
    
    background-color: #111;
    color: white;
    z-index: 1;
    overflow: hidden;
}

.Main_Text h2
{
    position: relative;
    left: 5%;
    margin-bottom: 10px;
}

.Text_Box {
    background-color: #333;
    color: white;
}

.center_all
{
    display: inline;
}

.Space_Box_Right {
    position: relative;
    height: 25%;
    width: 100%;
    left: 0%;
    
    color: white;
}

.Text_Box_Right {
    position: absolute;
    left: 70%;
    height: 25%;
    width: 25%;

    background-color: #111;
    color: white;
}
.Text_Box_Left {
    position: absolute;
    left: 5%;
    height: 25%;
    width: 25%;
    
    background-color: #111;
    color: white;
}
.Text_Box_Middle {
    position: absolute;
    left: 38%;
    height: 25%;
    width: 25%;
    
    background-color: #111;
    color: white;
}

.Text_Box h1 
{
    margin: 0px;
    text-align: center;
    background-color: #333;
    font-weight:800;
}

.Text_Box h3
{
    font-size:20px;
}
@media only screen and (max-width: 600px) {
    .Text_Box h3 {
        font-size: 30px;
    }
}

.Text_Middle
{
    text-align: center;
}