---
title: Blog
stylesheet: blog
layout: "base.njk"
---

<div class="header">
  <h2>HEADER</h2>
</div>

<div class="row">
  <div class="leftcolumn">
    {%- for post in collections.post | reverse -%}
    {% include "article-snippet.njk" %}
    {%- endfor -%}
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>About Me</h2>
      <div class="fakeimg" style="height:100px;">Image</div>
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    </div>
    <div class="card">
      <h3>Follow Me</h3>
      <div class="fakeimg" style="height:100px;">Image</div>
      <p>Some text..</p>
    </div>
  </div>
</div>

<!---

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <a href="./blog1text.html">
        <div class="articleCards">
          <h2>TITLE HEADING</h2>
          <h5>Dec 7, 2017</h5>
        </div>
        <p>Some text..</p>
      </a>
    </div>
    <div class="card">
      <div class="articleCards">
        <h2>TITLE HEADING</h2>
        <h5>Dec 7, 2017</h5>
      </div>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>Some text..</p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>About Me</h2>
      <div class="fakeimg" style="height:100px;">Image</div>
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    </div>
    <div class="card">
      <h3>Follow Me</h3>
      <div class="fakeimg" style="height:100px;">Image</div>
      <p>Some text..</p>
    </div>
  </div>
  </div>
    --->